div.color-visualizer
	div.color-box.area-one(ng-click="registerTouch(0);")
	div.color-box.area-two(ng-click="registerTouch(1);")
	div.color-box.area-three(ng-click="registerTouch(2);")
	div.color-box.area-four(ng-click="registerTouch(3);")