div#light-visualizer
	.color-block(ng-style="{'background-color': model[3]}") Third Level (top)
	.color-block(ng-style="{'background-color': model[2]}") Second Level
	.color-block(ng-style="{'background-color': model[1]}") First Level
	.color-block(ng-style="{'background-color': model[0]}") Ground Floor
