.side-menu(ng-class="{'closed' : !rootScope.showMenu}", ).clearfix
	
	ul.menu-list() 
		li(ng-click="rootScope.showMenu = !rootScope.showMenu;")
			.icon.back-icon
				i.fa.fa-chevron-down
		li(ng-click="go('/overview')")
			.icon
				i.fa.fa-circle
			.title Overview
		li(ng-click="go('/sound')")
			.icon
				i.fa.fa-circle
			.title Sound
		li(ng-click="go('/light')")
			.icon
				i.fa.fa-circle
			.title Light
		li(ng-click="go('/nodes')")
			.icon
				i.fa.fa-circle
			.title Nodes
		li(ng-click="go('/settings')")
			.icon
				i.fa.fa-circle
			.title Settings