.side-menu(ng-class="{'closed' : showMenu}", ).clearfix
	
	ul.menu-list() 
		li(ng-click="showMenu = !showMenu;")
			.icon.back-icon
				i.fa.fa-chevron-down
		li()
			.icon
				i.fa.fa-circle
			.title Overview
		li()
			.icon
				i.fa.fa-circle
			.title Sound
		li()
			.icon
				i.fa.fa-circle
			.title Light
		li()
			.icon
				i.fa.fa-circle
			.title Nodes
		li()
			.icon
				i.fa.fa-circle
			.title Settings