div.page-container
	//color-visualizer(model="colorModel")
	light-visualizer(model="colorModel")
	div.touch-wrapper
		div.touch-activity-graph
			h3 Touch Activity
			touch-chart(point="touchActivity")
			p Mean Inter-Onset Duration: {{meanOnsetDurations || 0}}ms
		div(touch-node)
	div.memeButtons.clearfix
		h2 Meme Mode Playlist
		.memeButton(ng-click="playMeme('harlem')", ng-class="{'active' : memeIndex == 0}") Harlem Shake
		.memeButton(ng-click="playMeme('nyan')", ng-class="{'active' : memeIndex == 1}") Nyan Cat Theme
		.memeButton(ng-click="playMeme('happy')", ng-class="{'active' : memeIndex == 2}") Pharell - Happy
		.memeButton(ng-click="playMeme('gangnam')", ng-class="{'active' : memeIndex == 3}") Gangnam Style
		.memeButton(ng-click="playMeme('fox')", ng-class="{'active' : memeIndex == 4}") What the Fox Say? 
		.memeButton(ng-click="playMeme('friday')", ng-class="{'active' : memeIndex == 5}") Rebecca Black
		.memeButton(ng-click="playMeme('daft')", ng-class="{'active' : memeIndex == 6}") Daft Punk