div.page-container
	div(color-visualizer)
	div.touches
		h3 Touch Activity
		touch-chart(point="touchActivity")
		p Mean Inter-Onset Duration: {{meanOnsetDurations}}ms
	hsv-circle(colors="colorModel").hsv