doctype html
html(lang="en" ng-app="myApp")
	head

		meta(charset='utf8')
		base(href='/')
		title Amplifier

		link(rel='stylesheet', href="/stylesheets/font-awesome.min.css")
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/screen.css')

	body

		block body