doctype html
html(lang="en" ng-app="myApp")
	head

		meta(charset='utf8')
		base(href='/')
		title Amplifier

		link(rel='stylesheet', href="/stylesheets/font-awesome.min.css")
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/screen.css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300', rel='stylesheet', type='text/css')

	body

		block body