html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background: transparent;
  text-shadow: none;
}

::selection {
  background: transparent;
  text-shadow: none;
}

body {
  font-family: 'Open Sans', 'sans-serif';
  background: #c8c8c8;
}

a {
  text-decoration: none;
  border-bottom: none;
}

h3 {
  font-size: 22px;
}

svg {
  font: 10px sans-serif;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.topbar {
  background-image: linear-gradient(#00ccff 0px, #00aaff 100%);
  font-size: 16pt;
  font-weight: bolder;
  height: 36px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;
}
.topbar .logo-wrap {
  margin: 6px auto 0;
  width: 300px;
}
.topbar span.logo {
  position: absolute;
  width: 226px;
  color: #f1f1f1;
  text-shadow: 0 1px 2px #000000;
}
.topbar .elements {
  float: right;
  height: 36px;
  max-height: 36px;
  overflow: hidden;
  width: 12%;
  margin-top: 2px;
  font-size: 14px;
}

.side-menu {
  background-color: #1f212f;
  float: left;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease 0s;
  width: 100%;
  z-index: 100;
  height: 36px;
}
.side-menu.closed {
  width: 270px;
  height: 36px;
  overflow: hidden;
}

.menu-list {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 1px;
  padding-left: 0;
  transition: height 0.2s ease 0s;
  width: 100%;
  height: 100%;
}
.menu-list li {
  border-bottom: 0 none;
  border-bottom: 1px solid #282A3A;
  cursor: pointer;
  position: relative;
  width: 270px;
  height: 36px;
  display: inline-block;
}
.menu-list li:hover {
  background-color: #0f0f1e;
}
.menu-list li .icon {
  border-radius: 16px;
  height: 20px;
  margin-left: 15px;
  margin-top: 10px;
  min-height: 20px;
  min-width: 20px;
  position: absolute;
  width: 20px;
  z-index: 4;
}
.menu-list li .icon i {
  color: #00AAFF;
}
.menu-list li .icon.back-icon {
  text-align: center;
  left: 117px;
}
.menu-list li .title {
  color: #FFFFFF;
  font-size: 15px;
  height: 20px;
  margin-left: 46px;
  margin-top: 11px;
  max-width: 150px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
  z-index: 4;
}

.page-container {
  top: 36px;
  padding: 24px;
  position: absolute;
  width: 100%;
}

.touch-wrapper {
  display: inline-block;
  vertical-align: top;
}

.touch-node {
  position: relative;
  width: 100%;
  line-height: 0px;
  margin: 0;
  padding: 0;
}
.touch-node .column {
  position: relative;
  margin: 0;
  padding: 0;
  width: 207px;
  min-height: 92px;
  display: inline-block;
  border: 1px solid black;
  background: rgba(11, 29, 53, 0.25);
  border-radius: 3px;
}
.touch-node .touch-indicator {
  position: absolute;
  top: 12px;
  padding-left: 12px;
  color: #141414;
}
.touch-node .touch-identifier {
  position: absolute;
  top: 30px;
  padding-left: 12px;
  color: #141414;
}

.touch-activity-graph {
  margin-top: 24px;
  margin-bottom: 24px;
  display: inline-block;
}
.touch-activity-graph svg {
  margin-top: 8px;
  border: 1px solid black;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.075);
}

.dg.ac {
  top: 36px !important;
}

color-visualizer {
  display: inline-block;
  margin: 24px;
  border-radius: 3px;
  padding: 8px;
}
color-visualizer #visualizer-canvas {
  width: 350px;
  border-radius: 50%;
  box-shadow: 0 0 4px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: block;
  background: url("/assets/wheel.png");
  background-size: 350px 350px !important;
  margin: 0;
  padding: 0;
  transform: translate3d(0px, 0px, 0px);
}
